.container {
    display: grid; 
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: repeat(3 , 1fr);
}
.box {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: repeat(2 , 1fr);
    border: 5px solid gold;

}
.box1 {
    background-color: aqua;
}
.box2 {
    background-color: aquamarine;
}
.box3 {
    background-color: bisque;
    grid-area: 2 / 1 / 4 / 2 ;
}
.box4 {
    background-color: blue;
    grid-area: 1 / 1 / 2 / 3 ;
}
.box5 {
    background-color: blueviolet;
}
.box6 {
    background-color: brown;

}